.stat-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.title {
  display: flex;
  justify-content: center;
}

.item-list {
  padding: 15px;
  background-color: burlywood;
}
